

.about-hero {
    height: 300px;
    width: 100%;
    
    overflow: hidden;
}

.about-hero h1 {
    position: absolute;
    width: 100%;
    z-index: 10;
    top: 7rem;
    
    text-align: center;
    color: white;
    font-size: 50px ;
    
}

.hero-img {
    object-fit: cover;
    width: 100%;
    filter: brightness(0.4);
}

.content {
    height: 100%;
    margin-bottom: 20px;
    width: 55%;
    margin: 45px auto;
    color: black !important;
}
