.contact-hero {
    height: 300px;
    width: 100%;
    
    overflow: hidden;
}

body {
    height: 100vh;
}

.contact-hero h1 {
    position: absolute;
    width: 100%;
    z-index: 10;
    top: 8rem;
    
    text-align: center;
    color: white;
    font-size: 50px ;
    
}

.hero-img {
    object-fit: cover;
    width: 100%;
    filter: brightness(0.4);
}

.content {
    height: 500px;
    color: aliceblue;
}